{% extends 'base.html' %}

{% block content %}
  {% if g.user %}
    <div class="card my-3">
      <div class="card-header">Bookmarks</div>
      <div class="card-body">
        <div class="row">
          {% for column in g.user.bookmarks | sort(attribute='name') | slice(3) %}
          <div class="col-md">
            {% for country in column %}
              <a href="country/{{ country.code }}">{{ country.name }}</a> <br />
            {% endfor %}
          </div>
          {% endfor %}    
        </div>
      </div>
    </div>
  {% endif %}

  {% for regions in g.countries | groupby('region', default='N/A') %}
  <div class="card my-3">
    <div class="card-header">{{ regions.grouper }}</div>
    <div class="card-body">
      
      <div class="row">
        {% for column in regions.list | sort(attribute='name') | slice(3) %}
          <div class="col-md">
            {% for country in column %}
              <a href="country/{{ country.code }}">{{ country.name }}</a> <br />
            {% endfor %}
          </div>
        {% endfor %}    
      </div>

    </div>
  </div>

    
  {% endfor %}

{% endblock %}