{% extends 'base.html' %}

{% block content %}

  {% for regions in countries | groupby('region', default='N/A') %}
    <div class="row my-2">
      <h1 class="display-3">{{ regions.grouper }}</h1>
      {% for column in regions.list | sort(attribute='name') | slice(3) %}
        <div class="col-md">
          {% for country in column %}
            <a href="country/{{ country.code }}">{{ country.name }}</a> <br />
          {% endfor %}
        </div>
      {% endfor %}    
    </div>
  {% endfor %}

{% endblock %}