{% if detailed.error %}
  <div class="card my-3">
    <div class="card-body">{{ detailed.error }}</div>
    <div class="card-footer">
      <small class="fst-italic">source: <a href="https://developer.tugo.com/page/Travel_Safe_API">tugo</a> @ Canadian Embassy</small>
    </div>
  </div>
{% else %}
  {% if detailed.climate.description or detailed.climate.climateInfo %}
  <div class="card my-3">
    <div class="card-header">Climate</div>
    {% if detailed.climate.description %}
      <div class="card-body">{{ detailed.climate.description }}</div>
    {% endif %}
    {% if detailed.climate.climateInfo %}
      <ul class="list-group list-group-flush">
        {% for idx in detailed.climate.climateInfo %}
          <li class="list-group-item">
            <h5 class="card-title">{{ idx.category }}</h5>
            <p>{{ idx.description }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="card-footer">
      <small class="fst-italic">source: <a href="https://developer.tugo.com/page/Travel_Safe_API">tugo</a> @ Canadian Embassy</small>
    </div>
  </div>
  {% endif %}

  {% if detailed.health.description or detailed.health.diseasesAndVaccinesInfo or detailed.health.healthInfo %}
  <div class="card my-3">
    <div class="card-header">Health</div>
    {% if detailed.health.description %}
      <div class="card-body">{{ detailed.health.description }}</div>
    {% endif %}
    {% if detailed.health.diseasesAndVaccinesInfo %}
      <ul class="list-group list-group-flush">
        {% for idx in detailed.health.diseasesAndVaccinesInfo %}
          <li class="list-group-item">
            <h5 class="card-title">{{ idx }}</h5>
            {% for idx2 in detailed.health.diseasesAndVaccinesInfo[idx] %}
              <h6 class="card-title text-decoration-underline">{{ idx2.category }}</h6>
              <p>{{ idx2.description }}</p>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="card-footer">
      <small class="fst-italic">source: <a href="https://developer.tugo.com/page/Travel_Safe_API">tugo</a> @ Canadian Embassy</small>
    </div>
  </div>  
  {% endif %}

  {% if detailed.lawAndCulture.description or detailed.lawAndCulture.lawAndCultureInfo %}
  <div class="card my-3">
    <div class="card-header">Law and Culture</div>
    {% if detailed.lawAndCulture.description %}
      <div class="card-body">{{ detailed.lawAndCulture.description }}</div>
    {% endif %}
    {% if detailed.lawAndCulture.lawAndCultureInfo %}
      <ul class="list-group list-group-flush">
        {% for idx in detailed.lawAndCulture.lawAndCultureInfo %}
          <li class="list-group-item">
            <h5 class="card-title">{{ idx.category }}</h5>
            <p>{{ idx.description }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="card-footer">
      <small class="fst-italic">source: <a href="https://developer.tugo.com/page/Travel_Safe_API">tugo</a> @ Canadian Embassy</small>
    </div>
  </div>
  {% endif %}
{% endif %}
