<div class="card my-3">
  <div class="card-header">
    Further Considerations
  </div>
  <div class="card-body">
    {% if detailed.error %}
      {{ detailed.error }}
    {% else %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h4 class="card-title">Climate</h4>
        {% if not detailed.climate.description and not detailed.climate.climateInfo %}
          <p>No climate information.</p>
        {% else %}
          {% if detailed.climate.description %}
            <p>{{ detailed.climate.description }}</p>
          {% endif %}
          {% for idx in detailed.climate.climateInfo %}
            <h5 class="card-title">{{ idx.category }}</h5>
            <p>{{ idx.description }}</p>
          {% endfor %}
        {% endif %}
      </li>
      <li class="list-group-item">
        <h4 class="card-title">Health</h4>
        {% if not detailed.health.description and not detailed.health.diseasesAndVaccinesInfo or not detailed.health.healthInfo %}
          <p>No health information.</p>
        {% else %}
          {% if detailed.health.description %}
            <p>{{ detailed.health.description }}</p>
          {% endif %}
          {% for idx in detailed.health.diseasesAndVaccinesInfo %}
            <h5 class="card-title">{{ idx }}</h5>
              {% for idx2 in detailed.health.diseasesAndVaccinesInfo[idx] %}
                <h6 class="card-title">{{ idx2.category }}</h6>
                <p>{{ idx2.description }}</p>
              {% endfor %}
          {% endfor %}
        {% endif %}
      </li>
      <li class="list-group-item">
        <h4 class="card-title">Law and Culture</h4>
        {% if not detailed.lawAndCulture.description and not detailed.lawAndCulture.lawAndCultureInfo %}
          <p>No law and culture infomration.</p>
        {% else %}
          {% if detailed.lawAndCulture.description %}
            <p>{{ detailed.lawAndCulture.description }}</p>
          {% endif %}
          {% for idx in detailed.lawAndCulture.lawAndCultureInfo %}
            <h5 class="card-title">{{ idx.category }}</h5>
            <p>{{ idx.description }}</p>
          {% endfor %}
        {% endif %}
      </li>
    </ul>
    {% endif %}
  </div>
  <div class="card-footer">
    {% if detailed.error %}
      &nbsp;
    {% else %}
      <small class="fst-italic">source: <a href="https://developer.tugo.com/page/Travel_Safe_API">tugo</a> @ Canadian Embassy</small>
    {% endif %}
  </div>
</div>




    
