<h3>Additional Considerations</h3>
<p>
  {% if detailed.error %}
    {{ detailed.error }}
  {% else %}
    <h4>Climate</h4>
    {% if not detailed.climate.description and not detailed.climate.climateInfo %}
      <p>No climate information.</p>
    {% else %}
      {% if detailed.climate.description %}
        <p>{{ detailed.climate.description }}</p>
      {% endif %}
      {% for idx in detailed.climate.climateInfo %}
        <h5>{{ idx.category }}</h5>
        <p>{{ idx.description }}</p>
      {% endfor %}
    {% endif %}
    <h4>Health</h4>
    {% if not detailed.health.description or not detailed.health.diseasesAndVaccinesInfo or not detailed.health.healthInfo %}
      <p>No health information.</p>
    {% else %}
      {% if detailed.health.description %}
        <p>{{ detailed.health.description }}</p>
      {% endif %}
      {% for idx in detailed.health.diseasesAndVaccinesInfo %}
        <h5>{{ idx }}</h5>
          {% for idx2 in detailed.health.diseasesAndVaccinesInfo[idx] %}
            <h6>{{ idx2.category }}</h6>
            <p>{{ idx2.description }}</p>
          {% endfor %}
      {% endfor %}
    {% endif %}
    <h4>Law and Culture</h4>
    {% if not detailed.lawAndCulture.description or not detailed.lawAndCulture.lawAndCultureInfo %}
      <p>No law and culture infomration.</p>
    {% else %}
      {% if detailed.lawAndCulture.description %}
        <p>{{ detailed.lawAndCulture.description }}</p>
      {% endif %}
      {% for idx in detailed.lawAndCulture.lawAndCultureInfo %}
        <h5>{{ idx.category }}</h5>
        <p>{{ idx.description }}</p>
      {% endfor %}
    {% endif %}
    <small class="fst-italic">[source: <a href="https://developer.tugo.com/page/Travel_Safe_API">tugo</a>]</small>
  {% endif %}
</p>