{% extends 'base.html' %}

{% block content %}

<div class="row my-2">
  <h1 class="display-3">{{ country.name }}</h1>
  <div class="col-md-4">
    
    <div class="card mb-4">
      <img src="{{ country.flag }}" class="img-fluid" alt="Image for {{ country.name }}" id="country-flag">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col fw-bold">Capital</div>
            <div class="col">{{ country.capital }}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col fw-bold">Region</div>
            <div class="col">{{ country.region }}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col fw-bold">Subregion</div>
            <div class="col">{{ country.subregion }}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col fw-bold">Population</div>
            <div class="col">{{ "{:,}".format(country.population) }}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col fw-bold">Languages</div>
            <div class="col">
              {% for language in country.languages %}
                {{ language.name }}{{ ", " if not loop.last else "" }}
              {% endfor %}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col fw-bold">Currencies</div>
            <div class="col">
              {% for currency in country.currencies %}
                {{ currency.name }} {{ ", " if not loop.last else "" }}
              {% endfor %}
            </div>
          </div>          
        </li>
      </ul>      
    </div>
  </div>
  
  <div class="col-md-8">
    <h3>General Advisory</h3>
    <p>
      {% if advisory.error %}
        {{ advisory.error }}
      {% else %}
        {{ advisory.message }} <br/>
        <small class="fst-italic">[source: <a href="{{ advisory.source}}">travel-adivsory.info</a>]</small>
      {% endif %}
    </p>
    
    <h3>COVID Statistics</h3>
    <p>
      {% if covid.error %}
        {{ covid.error }}
      {% else %}
        <div class="row">
          <div class="col-3 fw-bold">Currently Active</div>
          <div class="col-3">{{ "{:,}".format(covid.active) }}</div>
        </div>
        <div class="row">
          <div class="col-3 fw-bold">Currently Critical</div>
          <div class="col-3">{{ "{:,}".format(covid.critical) }}</div>
        </div>
        <div class="row">
          <div class="col-3 fw-bold">Total Deaths</div>
          <div class="col-3">{{ "{:,}".format(covid.deaths) }}</div>
        </div>
        <div class="row">
          <div class="col-3 fw-bold">Total Recovered</div>
          <div class="col-3">{{ "{:,}".format(covid.recovered) }}</div>
        </div>
        <div class="row">
          <div class="col-3 fw-bold">Total Cases</div>
          <div class="col-3">{{ "{:,}".format(covid.cases) }}</div>
        </div>
        <small class="fst-italic">[source: <a href="https://disease.sh">disease.sh</a>]</small>
      {% endif %}
    </p>
    
    <h3>Additional Considerations</h3>
    <p>
      {% if detailed.error %}
        {{ detailed.error }}
      {% else %}
        <h4>Climate</h4>
        {% if not detailed.climate.description or not detailed.climate.climateInfo %}
          <p>No climate information.</p>
        {% else %}
          {% if detailed.climate.description %}
            <p>{{ detailed.climate.description }}</p>
          {% endif %}
          {% for idx in detailed.climate.climateInfo %}
            <h5>{{ idx.category }}</h5>
            <p>{{ idx.description }}</p>
          {% endfor %}
        {% endif %}
        <h4>Health</h4>
        {% if not detailed.health.description or not detailed.health.diseasesAndVaccinesInfo or not detailed.health.healthInfo %}
          <p>No health information.</p>
        {% else %}
          {% if detailed.health.description %}
            <p>{{ detailed.health.description }}</p>
          {% endif %}
          {% for idx in detailed.health.diseasesAndVaccinesInfo %}
            <h5>{{ idx }}</h5>
              {% for idx2 in detailed.health.diseasesAndVaccinesInfo[idx] %}
                <h6>{{ idx2.category }}</h6>
                <p>{{ idx2.description }}</p>
              {% endfor %}
          {% endfor %}
        {% endif %}
        <h4>Law and Culture</h4>
        {% if not detailed.lawAndCulture.description or not detailed.lawAndCulture.lawAndCultureInfo %}
          <p>No law and culture infomration.</p>
        {% else %}
          {% if detailed.lawAndCulture.description %}
            <p>{{ detailed.lawAndCulture.description }}</p>
          {% endif %}
          {% for idx in detailed.lawAndCulture.lawAndCultureInfo %}
            <h5>{{ idx.category }}</h5>
            <p>{{ idx.description }}</p>
          {% endfor %}
        {% endif %}
        <small class="fst-italic">[source: <a href="https://developer.tugo.com/page/Travel_Safe_API">tugo</a>]</small>
      {% endif %}
    </p>
  </div>
</div>


{% endblock %}