{% extends 'base.html' %}

{% block content %}

<div class="row my-2">
  <h1 class="display-3">{{ country.name }}</h1>
  <div class="col-md-3">
    <img src="{{ country.flag }}" class="img-fluid border" alt="Image for {{ country.name }}" id="country-flag">
  </div>
  <table class="table border">
            <tr>
              <th scope="row">Capital</th>
              <td>{{ country.capital }}</td>
            </tr>
            <tr>
              <th scope="row">Region</th>
              <td>{{ country.region }}</td>
            </tr>
            <tr>
              <th scope="row">Subregion</th>
              <td>{{ country.subregion }}</td>
            </tr>
            <tr>
              <th scope="row">Population</th>
              <td>{{ country.population }}</td>
            </tr>
            <tr>
              <th scope="row">Languages</th>
              <td>
                {% for language in country.languages %}
                  {{ language.name }}{{ ", " if not loop.last else "" }}
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th scope="row">Currencies</th>
              <td>
                {% for currency in country.currencies %}
                    {{ currency.name }} {{ ", " if not loop.last else "" }}
                {% endfor %}
              </td>
            </tr>
          </table>
  <div class="col-md-9">
    <!-- <div class="card">
      <div class="row g-0">        
        <div class="card-body"> -->
            
        <!-- </div>
      </div>
    </div> -->
  </div>
</div>

<p>
  {{ advisory.message }} {{ advisory.updated }} {{ advisory.source }}
</p>
<table>
  <tr>
    <th scope="row">{{ advisory.score }}</th>
    <td>
      
    </td>
  </tr>
</table>

<p>{{ covid.cases }}</p>
<p>{{ covid.deaths }}</p>
<p>{{ covid.recovered }}</p>
<p>{{ covid.active }}</p>
<p>{{ covid.critical }}</p>


<div class="row my-2">
  <h1 class="display-3">{{ country.name }}</h1>
  <div class="col-sm-6 col-md-3"><img src="{{ country.flag }}" class="img-fluid border" alt="Image for {{ country.name }}" id="country-flag"></div>
  <div class="col-sm-6 col-md-9">
    <dl class="row">
      <dt class="col-sm-6 col-md-2">Capital</dt>
      <dd class="col-sm-6 col-md-10">{{ country.capital }}</dd>
      <dt class="col-sm-6 col-md-2">Region</dt>
      <dd class="col-sm-6 col-md-10">{{ country.region }}</dd>
      <dt class="col-sm-6 col-md-2">Subregion</dt>
      <dd class="col-sm-6 col-md-10">{{ country.subregion }}</dd>
      <dt class="col-sm-6 col-md-2">Population</dt>
      <dd class="col-sm-6 col-md-10">{{ country.population }}</dd>
      <dt class="col-sm-6 col-md-2">Languages</dt>
      <dd class="col-sm-6 col-md-10">
        {% for language in country.languages %}
          {{ language.name }}{{ ", " if not loop.last else "" }}
        {% endfor %}
      </dd>
      <dt class="col-sm-6 col-md-2">Currencies</dt>
      <dd class="col-sm-6 col-md-10">
        {% for currency in country.currencies %}
            {{ currency.name }} {{ ", " if not loop.last else "" }}
        {% endfor %}
      </dd>
    </dl>    
  </div>
  
</div>


<p>{{ advisory.score }}</p>
<p>{{ advisory.message }}</p>
<p>{{ advisory.updated }}</p>
<p>{{ advisory.source }}</p>

<p>{{ covid.cases }}</p>
<p>{{ covid.deaths }}</p>
<p>{{ covid.recovered }}</p>
<p>{{ covid.active }}</p>
<p>{{ covid.critical }}</p>
{% endblock %}