<div class="card my-3">
  <div class="card-header">
    COVID
  </div>
  <div class="card-body">
    {% if covid.error %}
      {{ covid.error }}
    {% else %}
      <canvas id="covidChart" class="img-responsive"></canvas>
      <ul class="list-group list-group-flush mt-2">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 col-lg-4 fw-bold">Active</div>
            <div class="col-sm-6 col-lg-8">{{ "{:,}".format(covid.active) }}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 col-lg-4 fw-bold">Critical</div>
            <div class="col-sm-6 col-lg-8">{{ "{:,}".format(covid.critical) }}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 col-lg-4 fw-bold">Total Deaths</div>
            <div class="col-sm-6 col-lg-8">{{ "{:,}".format(covid.deaths) }}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 col-lg-4 fw-bold">Total Recovered</div>
            <div class="col-sm-6 col-lg-8">{{ "{:,}".format(covid.recovered) }}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 col-lg-4 fw-bold">Total Cases</div>
            <div class="col-sm-6 col-lg-8">{{ "{:,}".format(covid.cases) }}</div>
          </div>
        </li>
      </ul>
    {% endif %}
  </div>
  <div class="card-footer">
    <small class="fst-italic">source: <a href="https://disease.sh">disease.sh</a></small>
  </div>
</div>