<div class="card my-3">
  <div class="card-header">
    COVID
  </div>
  <div class="card-body">
    {% if covid.error %}
      {{ covid.error }}
    {% else %}
      {% if graph.error %}
        {{ graph.error }}
      {% else %}
        <canvas id="covidChart" class="img-responsive"></canvas>
        <script>
          let ctx = document.getElementById('covidChart').getContext('2d');
          let covidChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ graph['labels'] |tojson }},
                datasets: [{
                    label: 'Total cases over ~6 months',
                    data: {{ graph['data'] |tojson }},
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderWidth: 0.5
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
          });
        </script>
      {% endif %}
      <ul class="list-group list-group-flush mt-2">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 col-lg-4 fw-bold">Active</div>
            <div class="col-sm-6 col-lg-8">{{ "{:,}".format(covid.active) }}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 col-lg-4 fw-bold">Critical</div>
            <div class="col-sm-6 col-lg-8">{{ "{:,}".format(covid.critical) }}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 col-lg-4 fw-bold">Total Deaths</div>
            <div class="col-sm-6 col-lg-8">{{ "{:,}".format(covid.deaths) }}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 col-lg-4 fw-bold">Total Recovered</div>
            <div class="col-sm-6 col-lg-8">{{ "{:,}".format(covid.recovered) }}</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 col-lg-4 fw-bold">Total Cases</div>
            <div class="col-sm-6 col-lg-8">{{ "{:,}".format(covid.cases) }}</div>
          </div>
        </li>
      </ul>
    {% endif %}
  </div>
  <div class="card-footer">
    {% if advisory.error %}
      &nbsp;
    {% else %}
      <small class="fst-italic">source: <a href="https://disease.sh">disease.sh</a></small>
    {% endif %}
  </div>
</div>