<h3>COVID Statistics</h3>
<div class="row">
  <p>
  {% if covid.error %}
    {{ covid.error }}
  {% else %}
    <div class="col-4">
      <div class="row">
        <div class="col-6 fw-bold">Active</div>
        <div class="col-6">{{ "{:,}".format(covid.active) }}</div>
      </div>
      <div class="row">
        <div class="col-6 fw-bold">Critical</div>
        <div class="col-6">{{ "{:,}".format(covid.critical) }}</div>
      </div>
      <div class="row">
        <div class="col-6 fw-bold">Total Deaths</div>
        <div class="col-6">{{ "{:,}".format(covid.deaths) }}</div>
      </div>
      <div class="row">
        <div class="col-6 fw-bold">Total Recovered</div>
        <div class="col-3">{{ "{:,}".format(covid.recovered) }}</div>
      </div>
      <div class="row">
        <div class="col-6 fw-bold">Total Cases</div>
        <div class="col-6">{{ "{:,}".format(covid.cases) }}</div>
      </div>
    </div>
    <div class="col-8">
      {% if graph.error %}
        {{ graph.error }}
      {% else %}
        <canvas id="covidChart" class="img-responsive"></canvas>
        <script>
          let ctx = document.getElementById('covidChart').getContext('2d');
          let covidChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ graph['labels'] |tojson }},
                datasets: [{
                    label: 'Total cases over 30 days',
                    data: {{ graph['values'] |tojson }},
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                    ],
                    borderWidth: 0.5
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
          });
        </script>
      {% endif %}
    </div>
  
    <small class="fst-italic">[source: <a href="https://disease.sh">disease.sh</a>]</small>
  {% endif %}
  </p>
</div>