<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Travel Advisory {% endblock %}</title>

  <link rel="stylesheet" href="/static/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><i class="fas fa-globe"></i> Travel Advisory</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex">
          <input class="form-control" list="countryOptions" id="countryInput" placeholder="Country Name or Code" aria-label="Search">
          <button class="btn btn-outline-success mx-2" id="countryBtn" type="submit">Go</button>
          <datalist id="countryOptions">
            {% for country in g.countries %}
              <option value="{{ country.code }}" label="{{ country.name }}">
            {% endfor %}
          </datalist>
        </form>
        <ul class="navbar-nav navbar-right border">
          {% if g.user %}
          <li class="nav-item"><a class="nav-link" href="#">Welcome {{ g.user.username }}</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/register">Sign up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div id="flash_messages" class="container mt-2">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  </div>
  <div class="container mt-2">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/travel.js"></script>
</body>
</html>